.table.customDT.dataTable.no-footer th,
.table.customDT.dataTable.no-footer td {
  border: 1px solid grey; /* Sets a 1px black border */
  padding: 8px; /* Optional: Adds some padding for better spacing */
  background-color: transparent; /* Removes any background color */
}

.table.customDT.dataTable.no-footer thead th {
  border: 1px solid grey; /* Ensures header cells also have borders */
}


.tooltip-inner {
  background: #FAE100;
  color: black;
  font-family: Arial;
  text-align: left;
  border-color: black;
  border-style: solid;
  border-width: thin;
}

.small-hyperlink {
  font-size: 0.8rem;
}
